body{
	background-color: #EDF2C5;
	margin: 0;
	padding: 0;
}
.container{
	padding: 52px 160px 0px 160px;
	max-width: 940px;
	max-height: 1260px;
	margin: auto;
	font-family: 'Arial Black','Arial Bold',sans-serif;
}
header{
	box-sizing: border-box;
}
h1{
	color: #778A50;
	font-size: 44px;
	margin-bottom: 8px;
	margin-top: 0;
	padding: 0;
	float: left;
	display: block;
}
.right-side{
	display: block;
	float: right;
	padding-bottom: 0px;
	margin-bottom: 17px;
}
.btn-icon{
	height: 25px;
	width: 25px;
	float: left;
	display: inline-block;
	margin-right: 10px;
}
.btn-href{
	float: left;
	box-sizing: border-box;
	border-left: 1px solid #778A50;
}
.btn-text{
	display: inline-block;
	border: 1px solid #778A50;
	border-radius: 3px;
	font-family: 'Arial BoldMT',sans-serif;
	text-decoration: none;
	color: #778A50;
	font-size: 14px;
	font-weight: bold;
	margin-left: 10px;
	text-align: center;
	vertical-align: middle;
	padding: 3px 7px;

}
.clear:after{
	content: "";
	display: block;
	clear: both;
}
.side-nav{
	background-color: #778A50;
	height: 44px;
	margin-bottom: 20px;
	border-radius: 3px;
}
.side-nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.side-nav li{
	float: left;
	font-family: 'Arial BoldMT',sans-serif;
	font-size: 16px;
	color: #EDF2C5;
	margin: 16px 30px 16px 30px; 
}
.main-img{
	height: 440px;
	width: 940px;
	margin-bottom: 20px;
	padding: 0;
}
.main-area{
	width: 940px;
	padding: 0;
	margin-bottom:35px;
	display: inline-block;
}
.main-site{
	display: inline-block;
}
.main-text{
	width: 445px;
	height: 45px;
	background-color: #778A50;
}
.vagetables{
	height: 200px;
	width: 445px;
	float: left;
	padding: 0;
	margin: 0;
}
.vagetables-imgs{
	width: 445px;
	height: 140px;
	padding: 0;
	margin: 0;
}
.vagetables-img{
	width: 140px;
	height: 140px;
	margin:0px 6px 0px 0px;
	border-radius: 3px;
}
.vagetables-img-last{
	width: 140px;
	height: 140px;
	padding:0px;
	margin: 0px;
}
.contact{
	height: 200px;
	width: 445px;
	float: right;
	padding: 0px;
}
.main-header{
	background-color: #778A50;
	width: 445px;
	height: 45px;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 15px;
	border-radius: 3px;
}
.main-header h2{
	font-size: 16px;
	padding-top: 17px;
	padding-left: 30px;
	padding-bottom: 16px;
	font-family: 'Arial Black',sans-serif;
	margin: 0;
	color: #EDF2C5;
}
.contact-text{
	background-color: #F7FBDA;
	width: 445px;
	height: 140px;
	text-align: left;
	font-size: 12px;
	color: #7D7D7D;
	font-family: 'ArialMT Regular',sans-serif;
}
.contact-p1{
	width: 414px;
	border-bottom: 1px solid #7D7D7D;
	line-height: 1.33;
	margin:0px 0px 0px 15px;
	padding:16px 0px 15px 0px;
	
}
.contact-p2{
	width: 414px;
	line-height: 1.83;
	margin-top: 16px;
	margin-left: 15px;
}
footer{
	background-color: #778A50;
	height: 60px;
	width: 100%;	
	margin:0;
}
.side-footer{
	padding-top: 25px;
	padding-left: 479px;
	font-family: 'ArialMT Regular',sans-serif;
	color: #EDF2C5;
	font-size: 12px;
	margin:0;
}
